.header {
  border-bottom: 1px solid rgb(219, 219, 219);
  height: 60px;
  .navbar {
    height: 60px;
    max-width: 975px;
  }
  .header-search {
    width: 268px;
    min-width: 125px;
  }
  .search-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
  .search-input {
    background: #efefef;
    color: #8e8e8e;
    font-size: 1rem;
    padding: 0 16px 0 44px;
    border-radius: 8px;
    width: 100%;
    height: 36px;
    &::placeholder {
      font-weight: 300;
    }
  }
  .action-item {
    &:not(:first-child) {
      margin-left: 22px;
    }
  }
  .btn-clear {
    background-repeat: no-repeat;
    background-position: -318px -333px;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .activity-feed {
    .dropdown-inner {
      height: 240px;
    }
    .activity-logo {
      background-repeat: no-repeat;
      background-position: -306px -132px;
      height: 62px;
      width: 62px;
    }
  }
  .user-profile {
    .active-border {
      border: 1px solid #262626;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      position: absolute;
      top: -2px;
      left: -2px;
    }
  }
  .dropdown-box {
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 75ms linear;
    filter: drop-shadow(0 0 5px rgba(#000, 0.0975));

    &.active {
      opacity: 1;
      visibility: visible;
    }
    .dropdown-arrow {
      position: absolute;
      clip-path: path(
        "M 8 0 C 8 4 9.32406e-8 7.819 1.25211e-7 10.5 C 1.57188e-7 13.1815 8 17.0005 8 21 L 8 0 Z"
      );
      height: 20px;
      width: 15px;
      transform: rotate(90deg);
      top: -10px;
      background: #fff;
      border: 1px solid #fff;
    }
    .dropdown-inner {
      background-color: #fff;
      position: absolute;
      left: 0;
      border-radius: 6px;
      overflow: hidden;
    }
  }
  .activity-dropdown {
    margin-left: -425px;
    .dropdown-inner {
      width: 500px;
    }
    .dropdown-arrow {
      left: 430px;
    }
  }
  .menu-dropdown {
    margin-left: -180px;
    .dropdown-inner {
      width: 230px;
    }
    .dropdown-arrow {
      left: 185px;
    }
  }
}
