@keyframes loadingSpinnerSmall {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes loadingSpinnerLarge {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-loading-container {
  &.large-spinner {
    opacity: 1;
    transition: opacity ease-out 0.3s;
    .spinner-loading {
      animation: loadingSpinnerLarge 1.2s steps(12) infinite;
    }
  }
  &.small-spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    .spinner-loading {
      animation: loadingSpinnerSmall 0.8s steps(8) infinite;
    }
  }
}

.splash-logo {
  margin: -40px 0 0 -48px;
}
.meta-logo {
  margin: -36px 0 36px -44px;
}
