.sidebar {
  top: 85px;
  width: 100%;
  max-width: 319px;
  &.is-loading {
    position: absolute;
    height: 80vh;
    margin-bottom: 30px;
    max-width: 293px;
    padding: 0;
    left: 0;
    top: 60px;
  }
  .suggestion-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    display: block;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px solid #00000019;
      border-radius: 50%;
    }
  }
  .suggestion-info {
    span {
      max-width: 180px;
    }
  }
  .useful-links {
    li {
      display: inline-block;
      color: #c7c7c7;
      font-size: 0.75rem;
      &:not(:last-child)::after {
        content: "\00B7";
        margin: 0 0.25em 0 0.25em;
      }
    }
  }
  .copyright-text {
    color: #c7c7c7;
    text-transform: uppercase;
  }
}
