.content-container {
  max-width: 821px;
  margin-top: 60px;
  padding-top: 10px;
}
.content-container .main-content {
  max-width: 470px;
  transform: translateY(-56px);
  transition: transform 0.3s ease-out 0.2s;
}
.content-container .main-content.is-loading {
  transform: translateY(0);
}
