@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #262626;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 0.875rem;
  line-height: 18px;
  background-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
}
img {
  max-width: 100%;
}
a:active {
  opacity: 0.5;
}
.insta-icons {
  background-image: url("../src/assets/icons/groupicons.png");
}
.insta-glyfs {
  background-image: url("../src/assets/icons/groupglyfs.png");
}
.text-gray {
  color: #8e8e8e;
}
*:focus {
  outline: 0;
}
